<div class="row">
    <div class="col-md-3 offset-md-3">
        <h3 class="my-3">Signup</h3>
        <hr/>
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="text" id="email" class="form-control" placeholder="Enter the email" formControlName="email"/>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Password</label>
                <input type="password" id="email"  class="form-control" placeholder="Enter the password" formControlName="password"/>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
        </form>
    </div>
</div>
